/*============================== Adaptive ==============================*/
@media(min-width: 0px) and (max-width: 750px) {
  .card {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-img {
    width: 30%;
    height: 120px;
    box-shadow: 0 0 5px 2px #8c939a;
  }

  .card-img-top {
    width: 100%;
    height: inherit;
    cursor: pointer;
  }

  .card-body {
    position: relative;
    width: 70%;
    padding-bottom: 49px;
    padding-left: 10px;
  }

  .card-title {
    margin: 0;
  }

  .card-premiered {
    font-family: "OpenSans-SemiBold";
    color: #b4b4b4;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
  }

  .card-info {
    width: 90%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OpenSans-SemiBold";
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card--info-season {
    margin-right: 5px;
  }
}

@media(min-width: 376px) and (max-width: 500px) {
  .card-img {
    max-width: 100px;
  }

  .card-body {
    width: 80%;
  }

  .card-info {
    width: 60%;
  }
}

@media(min-width: 501px) and (max-width: 750px) {
  .card-img {
    max-width: 100px;
  }

  .card-info {
    width: 45%;
  }
}