/*============================== Adaptive ==============================*/
@media(min-width: 0px) and (max-width: 750px) {
  .movieList {
    font-size: 14px;
    font-weight: bold;
    color: #8c939a;
  }

  .movieList-date {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d0d4d9;
    color: rgb( 51, 51, 51 );
    font-family: "OpenSans-SemiBold";
    font-weight: 400;
    height: 40px;
    font-size: 13px;
  }

  .card-title {
    color: rgb( 51, 51, 51 );
  }

  .block-bt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .bt-longList {
    width: 100%;
    background-color: #ffffff;;
    height: 40px;
    border: 2px solid #d6d6d6;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
    color: #999999;
    font-weight: 400;
    cursor: pointer;
  }

  .bt-arrow {
    padding-left: 2px;
    padding-bottom: 10px;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
  }
}